@import 'navbar.css';
@import 'footer.css';


* {
    font-family: IRANSans;
    color: gray;
}

.content {
    margin-right: 14%;
    margin-left: 15%;
    margin-top: 2%;
}

#class-1 span {
    font-weight: bold;
    font-size: 200%;
}

#class-3 p {
    font-size: 120%;
    text-align: center;
}
#class-3 p:last-child {
    font-size: 120%;
    text-align: center;
    
}

.content .grid-content {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 3%;
    font-size: 70%;

}

.content .class12 {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 4%;
}